
// Colors
$off-white: #eee;
$mid-grey: #777;
$dark-grey: #212121;
$mid-dark-grey: #3a3a3a;
$blue: #2a6a7d;
$mid-blue: #368ba4;
$light-blue: #49a8c5;


$dark_red: #843442;
$mid_red: #8f3545;
$dark_green: #359b89;
$mid_green: #36a793;
$light_green: #36b49e;