
@import "utilities/variables";



.header {
  background-color: $mid_grey;
  height: 3em;
  margin-bottom: 1em;
  nav {
    ul {
      li {
        display:  inline;
        color: $off-white;
        font-family: "Lato";
        font-weight: 300;
      }
    }
  }
  
}
