
@import "utilities/variables";

$dark_red: #843442;
$mid_red: #8f3545;
$dark_green: #359b89;
$mid_green: #36a793;
$light_green: #36b49e;



.header {
  background-color: $mid_grey;
  height: 3em;
  margin-bottom: 1em;
  nav {
    ul {
      li {
        display:  inline;
        color: $off-white;
        font-family: "Lato";
        font-weight: 300;
      }
    }
  }
  
}
