$dark_red: #843442;
$mid_red: #8f3545;
$dark_green: #359b89;
$mid_green: #36a793;
$light_green: #36b49e;



.header {
  background-color:   $mid_red;
  height:             3em;
  nav {
    ul {
      li {
        display:    inline;
      }
    }
  }
}
